<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>Hey there, this is my homepage <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>
        lorem ipsum dolor sit amet, consectetur adipisicing
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque autem aut debitis alias natus reiciendis
        laudantium numquam repudiandae totam error adipisci suscipit quas, omnis facere earum dolore harum molestias
        soluta.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi provident expedita fugit quidem dignissimos
        facilis cumque eveniet, nisi quae rem quas doloremque, voluptatem incidunt, dicta dolorem quaerat eaque
        doloribus suscipit?
        Porro laborum odio tempora ipsam illo laboriosam tenetur itaque quaerat vitae alias labore eius provident animi
        ratione molestiae, voluptas ipsa sapiente commodi magnam eligendi! Sit odio vel quibusdam voluptatibus ea?
        Placeat natus eum, asperiores, nemo tempora quae ullam officia et magnam blanditiis distinctio dignissimos
        accusantium praesentium facere fuga deserunt, numquam illum molestias iure eligendi voluptatum. Commodi
        laboriosam animi ea atque.
        Optio corrupti consequuntur ad consectetur praesentium autem, eligendi eum in laboriosam provident, temporibus
        enim dicta voluptas tempore necessitatibus voluptate libero, quibusdam inventore sunt obcaecati. Esse in ea
        omnis ad architecto?
        Ad veniam tempora voluptas dolor earum cumque exercitationem, eligendi fugit perspiciatis. Nulla temporibus
        error voluptatibus magni illo a placeat veniam eveniet earum, aspernatur neque dolorem necessitatibus voluptatum
        animi, nostrum tenetur.
    </p>

    <p>WE ARE TUU TUTUGSUG lorem ipsum dolor sit am</p>

</body>

</html>