h2 {
    color:teal;
    background-color:papayawhip;
}

button {
    border-color: aqua;
    color:magenta;
    background-color: rgb(226, 186, 122);
}

p {
    color: #5fcffc;
}

body {
    background-color:#ca2b39;
}